<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="health.fitness.pro"
    android:installLocation="internalOnly">

    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="com.google.android.finsky.permission.BIND_GET_INSTALL_REFERRER_SERVICE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-configuration android:reqTouchScreen="stylus" />
    <uses-configuration android:reqTouchScreen="finger" />

    <uses-feature
        android:name="android.hardware.vibrate"
        android:required="false" /> <!-- Step Counter Permission -->
    <uses-feature
        android:name="android.hardware.sensor.stepdetector"
        android:required="true" /> <!-- work out -->
    <permission
        android:name="com.crazytrends.healthmanager.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.crazytrends.healthmanager.permission.C2D_MESSAGE" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:killAfterRestore="true"
        android:label="@string/app_name"
        android:restoreAnyVersion="false"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme2"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".StepCounter.StepCounter"
            android:screenOrientation="portrait"
            android:exported="false" />

        <!-- TODO All Starter Activities -->
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AllFeaturesActivity"
            android:screenOrientation="portrait"/>

        <!-- TODO All Calculators Activities -->
        <activity
            android:name=".AllCalculators.CalculatorHomePageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AllCalculators.bmr_calculator"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AllCalculators.BMR_Result"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AllCalculators.Blood_Donation_Result"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AllCalculators.BloodPressure_Calculator"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AllCalculators.BloodPressure_Result"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AllCalculators.Sugar_calculator"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AllCalculators.Sugar_Result"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AllCalculators.Blood_Volume_Calculator"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AllCalculators.BloodVolume_Result"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AllCalculators.Body_Frame_Size_Calculator"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AllCalculators.BodyFrame_Result"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AllCalculators.BMI_Calculator"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AllCalculators.BMI_Result"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AllCalculators.Body_Surface_Area_Calculator"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AllCalculators.BodySurfaceArea_Result"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AllCalculators.Trademill_Calculator"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AllCalculators.Trademill_Result"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AllCalculators.Calories_burn_Calculator"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AllCalculators.Calories_Burn_Result"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AllCalculators.Chest_Hip_Ratio_Result"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AllCalculators.Chest_Hip_Ratio_Calculator"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AllCalculators.Cholestrol_Calculator"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AllCalculators.Cholestrol_Result"
            android:screenOrientation="portrait" /> <!-- TODO All Water & Medicine Reminder Activities -->
        <activity android:name=".AllReminders.ReminderMainActivity" />

        <receiver android:name=".AllReminders.AlarmReceiver" />
        <receiver
            android:name=".AllReminders.BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON" />
                <action android:name="android.intent.action.REBOOT" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".AllReminders.InitUserInfoActivity"
            android:screenOrientation="portrait" />

        <receiver android:name=".AllReminders.NotifierReceiver" />

        <activity
            android:name=".AllReminders.Pill_MainActivity"
            android:theme="@style/AppTheme_pill1" />
        <activity
            android:name=".AllReminders.ReminderAddActivity"
            android:label="@string/title_activity_add_reminder"
            android:theme="@style/AppTheme_pill2" />
        <activity
            android:name=".AllReminders.ReminderEditActivity"
            android:label="@string/title_activity_edit_reminder"
            android:theme="@style/AppTheme_pill2" />
        <activity
            android:name=".AllReminders.StatsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MainTheme" />
        <activity
            android:name=".AllReminders.Water_MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MainTheme" /> <!-- TODO All Workout Exercise Activities -->
        <activity
            android:name=".WorkoutExercise.WorkoutMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WorkoutExercise.CompletionExcActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".WorkoutExercise.DayActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".WorkoutExercise.RestDayActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".WorkoutExercise.CompletionExcActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".WorkoutExercise.ExcDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".WorkoutExercise.MainExcerciseActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".WorkoutExercise.Workout"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" /> <!-- TODO All Step Counter Activities -->

        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true" />
    </application>

</manifest>